{% extends 'base.html' %}

{% load static %}


{% block 'conteudo-header' %}
    <div class="header">
        <h1>Analistas</h1>

    </div>
{% endblock %}

{% block 'conteudo' %}
    <h2 class="content-subhead">Lista de todos os analistas existentes na base</h2>
    <div>
        <table class="pure-table pure-table-bordered pure-table-striped" >
            <thead>
                <tr>
                    <th>Matricula</th>
                    <th>Nome</th>
                    <th class="column-center">Última avaliacao</th>
                    <th class="column-center">Acões</th>
                </tr>
            </thead>

            <tbody>
            {% for analista in analistas %}
                <tr>
                    <td>{{ analista.matricula }}</td>
                    <td>{{ analista.nome }}</td>
                    <td class="column-center">{{ analista.data_ultima_avaliaca|default:"-"}}</td>
                    <td class="column-center">
                        <a class="button-large pure-button" href="{% url 'avaliacao' analista.id %}" title="Iniciar uma avaliacao">
                            <i class="fa-solid fa-clipboard-list"></i>
                            Nova Avaliacao
                        </a>
                        <a class="button-large pure-button" href="#" title="Excluir analista">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

